body {
	padding-top: 			70px; 
}
#image {
	width:					400px;
	height:					200px;
}
#usernameMessagePositive{
	color:	green;
}

#usernameMessageNegative{
	color:	red;
}

#bcnavigation {
		background-color: darkblue;
}

#bcnavigation * {
		background-color: darkblue;
		color:			white;
		font-family:	arial;
}

.white{
	color:		white;
}

.blue{
	background-color:	darkblue;
}

#bclogo{
	background-color:	transparent;
	margin-top:			-10px;
}

#messages{
	height:		200px;
	overflow-y:	scroll;
	border:		1px solid;
	background-color:	lightblue;
}

.msgbtn{
	display:	table-cell;
	float:		right;
}

.chmessage{
	border:				1px solid;
	/*height:		40px;*/
	display:			table;
	width:				98%;
	margin:				5px;
}

#toggle-button{
	background-color:	white;
}

#toggle-button:hover{
	background-color:	grey;
}

#welcomebanner{
	height:			200px;
	text-align:		center;
	font-size:		300%;
	color:			white;
	font-weight:	bold;
	background:		rgba(0,0,155,.5);
	background-position:	center;
	margin-top:		2%;
}

#nametext{
	font-style: italic;
	opacity:		1;
}

#welcomebody{
	background-image:	url("../images/background.jpg");
	background-size:	100%;
}
#signinbody{
	background-image:	url("../images/signin.jpg");
	background-size:	80%;
}

#registerbody{
	background-image:	url("../images/register.jpg");
	background-size:	100%;
}

#mainNav > ul > li{
	margin-right:	2.25em;
	margin-left:	2.25em;
	font-size:		1.5em;
}

.btnwelcome{
	width:			100%;
	margin-top:		1%;
	font-size:		3em;
}
.btnindex{
	width:			100%;
	margin-top:		45%;
	font-size:		3em;
}
#signintext{
	padding-top:	5px;
	color:			white;
}
#registercontainer{
	background:		rgba(0,0,155,.5);
}

#playerprofilepic{
	height:			100%;
	width:			100%;
}

#playerprofilepic img{
	height:			100%;
	width:			100%;
	border:			double;
}

#usernameprofile{
	padding-top:	4%;
	font-weight:	bold;
	font-size:		200%;
	text-decoration:	underline;
}