body {
	padding-top: 			70px; 
	
}
#image {
	width:					400px;
	height:					200px;
}
#usernameMessagePositive{
	color:	green;
}

#usernameMessageNegative{
	color:	red;
}

#bcnavigation {
		background-color: darkblue;
}

#bcnavigation * {
		background-color: darkblue;
		color:			white;
		font-family:	arial;
}

.white{
	color:		white;
}

#bclogo{
	background-color:	transparent;
	margin-top:			-10px;
}

#messages{
	height:		200px;
	overflow-y:	scroll;
	border:		1px solid;
	background-color:	lightblue;
}

.msgbtn{
	display:	table-cell;
	float:		right;
}

.chmessage{
	border:				1px solid;
	/*height:		40px;*/
	display:			table;
	width:				98%;
	margin:				5px;
}

#toggle-button{
	background-color:	white;
}

#toggle-button:hover{
	background-color:	grey;
}